{% extends "base.html.twig" %}

{% block body %}

    {% include "layout/flash_message.html.twig" %}

    <div class="container">
        <div class="card-group">
            <div class="row" >
            {% for event in events %}
                <div class="col-xl-4 col-lg-6 col-md-12 mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.description }}</h5>
                            <p class="card-text">Creator: {{ event.user.email }}</p>
                            <p class="card-text">Participants: {{ event.participants.count }}</p>
                            <p class="card-text">Created on: {{ event.dateCreated|date('Y-m-d') }}</p>
                            <a href="{{ path('get_event', {id: event.id}) }}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}